#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

export LC_ALL=C.UTF-8
export PYBUILD_NAME=pytest-httpserver
export PYBUILD_TEST_ARGS=-k 'not \
test_ipv4 and not \
test_ipv6'

%:
	dh $@ --buildsystem=pybuild
